body{
    background-color:rgb(233, 211, 211);
    padding: 10px;
}
ul>li{
    list-style: none;
    width: 50%;
    height: 50px;
    padding-top: 5px;
   padding-left: 10px;
   border-bottom: 5px;  
}
ul>li:nth-child(odd){
background-color: #f0f0f0;
  
}
ul>li:nth-child(even){
    background-color: #e9e1e1;
       
    }