.App {
  text-align: center;
}
.mainContainer{
 margin:10%;
background-color: yellowgreen;
border: 2px solid;
border-radius: 10px;
padding: 20px;
color: white;
text-align: center;
}

.addbutton,.deletebutton{
  margin: 5px;
  background: green;
  color: white;
  border-radius: 5px;
}
.deletebutton{
  background:red;
}
.todo{
  margin: 5px;
}
 ul , li{
list-style: none;
color: indigo;
}
.headerContainer{
  text-align: center;
  text-decoration: underline;
  color:mediumvioletred ;
}

